{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top:120px">
    <h1 class="display-2">Welcome on DayZ Face2Face PvP Server</h1>
    <hr class="my-4">
    <main class="container">
        <div class="row gx-lg-5">
            <div class="col-lg-8 mb-4">
                <h1 class="display-6">Server Rules:</h1>
                    <div style="padding-left:70px">
                        <ul>
                            <li>Follow the principles of good manners.</li>
                            <li>The maximum amount of Codelocks per base is 5.</li>
                            <li>The maximum number of cars per person is 1.</li>
                            <li>Build bases at least 1000m from military locations (does not apply to small militaritars t1, t2).</li>
                            <li>It is prohibited to place tents in doors and base entrances.</li>
                            <li> Do not use Survivor game name!</li>
                            <li>Do not use churches, shops, police stations, farms (pig farms), schools for bases. Missions are spawned on this locations and after mission will be deleted everything even your base</li>
                        </ul>
                    </div>
                <h1 class="display-6">Server mods:</h1>
                <div style="padding-left:70px">
                    <ul>
                        <li>Server_Information_Panel</li>
                        <li>Intenz-Leaderboard</li>
                        <li>NoVehicleDamage</li>
                        <li>SchanaParty</li>
                        <li>CodeLock</li>
                        <li>FoXStamina</li>
                        <li>Ear-Plugs</li>
                        <li>BuildAnywhere_v3</li>
                        <li>Dogtags</li>
                        <li>BetterSuppressors</li>
                        <li>VPPAdminTools</li>
                        <li>CF</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <h2 class="display-8">Face2Face Discord</h2>
                <iframe src="https://discord.com/widget?id=902235906214330390&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </main>
</div>
{% endblock %}