{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top:100px">
    <main>
        <div class="card bg-transparent">
            <div class="card-title display-6">Cholera</div>
            <div class="card-text">Cholera is contracted by drinking from dirty water sources or drinking with bloody/dirty hands.</div>
            <div class="card-text"><b>Symptoms:</b> Vomiting when eating. Only your stomach is emptied, and there is no fluid loss or dehydration. The chances of vomiting is increased in the later stages of this disease.</div>
            <div class="card-text"><b>Treatment:</b> Eating in small quantities will lessen the chance of vomiting, and antibiotics will cure this condition.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Salmonella</div>
            <div class="card-text">Salmonella can be contracted from eating raw meat or from zombie hits (if your immunity level is below high).</div>
            <div class="card-text"><b>Symptoms:</b> Vomiting from time to time regardless of food/fluid intake, and considerable dehydration. In later stages vomiting will increase and dehydration will become a major threat to life.</div>
            <div class="card-text"><b>Treatment:</b> Prevention is your best course of action, keep your food, fluids, and immunity levels high. However, if you are struck down with this condition, vitamins will temporarily boost your immunity, stopping the evolution of the disease, and enable it to abate. Remember, antibiotics will not aid you, but charcoal will cure this condition, and saline will help with extreme fluid loss.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Wound Infection</div>
            <div class="card-text">Be advised that using normal rags on a bleeding wound has a chance of causing a wound infection (default 50%, configurable).</div>
            <div class="card-text"><b>Symptoms:</b> Fever (blurred vision and constant water loss).</div>
            <div class="card-text"><b>Treatment:</b> Antibiotics or prevention...clean rags with alcohol or use sterile bandages.</div>
            <div class="card-text"><b>Caution:</b> Wound infections are more resistant to treatment than any other condition. You may require a course of multiple pills, however precise timing with dosing is required, waiting for the completion of the previous pill and dosing immediately after is the correct treatment plan.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Cold and/or Influenza</div>
            <div class="card-text">Common colds and flu can be contracted by enduring body temperature levels below normal for over 20 minutes, or by sleeping without a fire.</div>
            <div class="card-text"><b>Symptoms:</b> The sneezing of a common cold will evolve to a cough and a fever (highlighted by blurred vision and constant water loss) if left untreated.</div>
            <div class="card-text"><b>Treatment:</b> Prevention with a high immunity is your best course of action. However, if you are struck down with this condition, vitamins will temporarily boost your immunity thereby stopping the evolution of the disease and will enable it to abate. Antibiotics will also cure this condition. And remember, wearing masks can prevent the spread of this disease.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Broken Legs</div>
            <div class="card-text">Fracture of leg bones can happen when falling from the height or taking damage from heavy melee attacks to the legs, high caliber bullets, explosions or bear traps.</div>
            <div class="card-text"><b>Symptoms:</b>Unable to sprint and falling prone very often.</div>
            <div class="card-text"><b>Treatment:</b>bones will heal by themselves in about 15 minutes. Injecting Morphine will prevent going prone and allow normal walking for 1 minute. Crafting and applying a splint will also allow walking normally for longer time until the bones are completely healed. However there is no treatment that will allow full sprinting with fracture.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Broken Arms</div>
            <div class="card-text">Fracture of arm bones can happen when taking damage from heavy melee attacks to the arms, high caliber bullets or explosions. Optionally, blocking zombie hits will have a chance to break the arms.</div>
            <div class="card-text"><b>Symptoms:</b>Shaking hands when aiming the gun.</div>
            <div class="card-text"><b>Treatment:</b>bones will heal by themselves in about 10 minutes. Injecting Morphine or consuming pain killers will temporary remove the shaking symptom. Applying splint has no effect for arms.</div>
        </div>
        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Helpful Hints</div>
            <div class="card-text">Do not waste your medication ...taking multiple pills of the same type at the same time does not work, it is recommended that you wait until the previous pill icon has gone before using another. You can however utilize different types of pills at the same time to treat respective diseases.</div>
        </div>
    </main>
</div>
{% endblock %}