{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top:100px">
    <main>
        <div class="card bg-transparent">
            <div class="card-title display-6">Crafting Resources</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Improvised Rope 1</b></div><div class="col-4">x6 Rags + x6 Rags</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Improvised Rope 2</b></div><div class="col-4">Pile of Guts + Knife</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Short Stick 1</b></div><div class="col-4">Long Wooden Stick + Knife</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Short Stick 2</b></div><div class="col-4">Firewood + Hatchet</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Plank 1</b></div><div class="col-4">Lumber Pile + Hacksaw</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Plank 2</b></div><div class="col-4">Wooden Log + Hacksaw</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Burlap Strips</b></div><div class="col-4">Burlap Sack + Knife</div></div></div>
        </div>

        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Clothing & Backpacks</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Assault helmet with visor</b></div><div class="col-4">Assault helmet + Assault helmet visor</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Assault vest Buttpack atached</b></div><div class="col-4">Assault vest + Utility Buttpack</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Ghillie Hood</b></div><div class="col-4">x2 Burlap Stips + x1 Netting</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Ghillie Bushrag</b></div><div class="col-4">x4 Burlap Strips + x2 Netting</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Plate Carrier w/ Pouches</b></div><div class="col-4">Plate Carrier + Pouches</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Ghillie Suit</b></div><div class="col-4">x10 Burlap Strips + x4 Netting</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Ghillie Top</b></div><div class="col-4">x6 Burlap Stips + x3 Netting</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Plate Carrier w/ Pouches and Gun Holster</b></div><div class="col-4">Plate Carriet w/ Pouches + Gun Holster</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Ghillie Rifle Wrap</b></div><div class="col-4">x2 Burlap Stips x1 Netting</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Armband</b></div><div class="col-4">Raincoat + Knife</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Armband 2</b></div><div class="col-4">Rags + Knife</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Improvised Courier Bag</b></div><div class="col-4">Burlap sack + Rope</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Improvised Backpack</b></div><div class="col-4">Improvised Courier Bag + x3 wooden Sticks</div></div></div>
        </div>

        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Medical Recipes</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Rag</b></div><div class="col-4">Knife + Shirt</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>IV Saline Bag</b></div><div class="col-4">Saline Bag + IV Start Kit</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>IV Bloodbag</b></div><div class="col-4">Blood Collection Kit + IV Start Kit</div></div></div>
        </div>

        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Weapons & Ammo</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>BK-18 Sawed-Off</b></div><div class="col-4">BK-18 + Hacksaw</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>BK-43 Sawed-Off</b></div><div class="col-4">BK-43 + Hacksaw</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Mosin 91/30 Sawed-Off</b></div><div class="col-4">Mosin 91/30 + Hacksaw</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Baseball Bat Nailed</b></div><div class="col-4">Baseball Bat + x13 Nails</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Improvised Suppressor</b></div><div class="col-4">Plastic Bottle + Duct tape</div></div></div>
        </div>

        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Base Building</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Tarp Shelter</b></div><div class="col-4">x4 Long Wooden Stick + x4 Tarp</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Shelter Kit</b></div><div class="col-4">Rope + x4 Wooden Stick</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Watchtower Kit</b></div><div class="col-4">Rope + x4 Wooden Stick</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fence Kit</b></div><div class="col-4">Rope + x2 Wooden Stick</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Flag pole Kit</b></div><div class="col-4">Rope + x4 Wooden Stick</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Wooden Crate</b></div><div class="col-4">x8 Plank + x16 Nails</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fire Barrel</b></div><div class="col-4">Oil Barrel + Knife</div></div></div>
        </div>

        <div class="card bg-transparent" style="padding-top:20px">
            <div class="card-title display-6">Survival items Recipes</div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fireplace </b></div><div class="col-4">Short Stick + Rag or Short  Stick + Bandage, or Short Stick + Paper, or Short Stick + Oak Bark, or Short  Stick + Light Bark or also Short Stick + Firewood Bark</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fireplace 2 </b></div><div class="col-4">Fireplace Kit + Stone</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Hand Drill Kit </b></div><div class="col-4">Oak Bark + Short Stick or Short Stick + Light Bark</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fireplace 3 </b></div><div class="col-4">Fireplace + Stone</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Torch </b></div><div class="col-4">Short Stick + Rag, or Short Stick + Fat or Long Wooden Stick + Rag</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Gas Stove </b></div><div class="col-4">Gas Canister + Gas Stove</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Gas Lamp </b></div><div class="col-4">Gas Canister + Gas Lamp</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Stone Knife </b></div><div class="col-4">Small Stone + Small Stone</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Small Stone </b></div><div class="col-4"> Stone + Pickaxe</div></div></div>
            <div class="card-text"><div class="row align-items-start"><div class="col-2"><b>Fertilizer (Garden Lime) </b></div><div class="col-4">10% Guts + 10% Plant Material</div></div></div>
        </div>
    </main>
</div>
{% endblock %}