{% block navbar %}
    {% with url_name=request.resolver_match.url_name %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="/" style="font-size:1.5em">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'leaderboard' %}active{% endif %}" href="/leaderboard" style="font-size:1.5em">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'server_status' %}active{% endif %}" href="/server_status" style="font-size:1.5em">Server status</a>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.5em">
                              Tips
                        </a>

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/tips_medical">Medical Tips</a></li>
                            <li><a class="dropdown-item" href="/tips_craft">Crafting Tips</a></li>
                          </ul>
                    </div>
                </li>
            </ul>
        </nav>
    {% endwith %}
{% endblock %}